{% extends 'layouts/userLayout.html.twig' %}

{% block body %}
    <p> 
        {% set flash_notices = app.session.flashbag.get('Msg') %}
        {% set flash_notice = app.session.flashbag.get('MsgE') %}
        
        {% if flash_notice is not empty %}          
            <div class="alert alert-danger">{{ Msg}}</div>             
        {% endif %}
                    
        {% if flash_notices is not empty %}
            {% for Msg in flash_notices %}
                <div class="alert alert-success">{{ Msg}}</div>
            {% endfor %}
        {% endif %}
    </p>
    <h2 class="titre">Nouvelle thématique ou matière</h2>
    <div class="box">
        <div class="box_ajout">   
             
        <h3> <center> Choisissez ce que vous voulez ajouter </center></h3>

        <form method="post" action="{{ path('user_ajouter_categorie')}}" >
            <div>
            <label>Thematique</label>
            <input type="radio" id="thema" onclick="fct1()" name="choix" value="thema">
            </div>

            <div>
            <label>Matiere</label>
            <input type="radio" id="matiere" onclick="fct2()" name="choix" value="matiere">
            </div>
            <div class="contenu"> 
                <div id="ici">
                    <div id="thema1" style="display:none;">
                        <label>Veuillez saisir votre nouvelle Thematique</label>
                        <input type="text" name="Thematique"/>
                    </div>
                    <div id="matiere1" style="display:none;">
                        <label>Veuillez saisir votre nouvelle Matiere</label>
                        <input type="text" name="Matiere"/>
                    </div>
                </div> 
            </div>
     
            <div class="">
              
            </div>
            <div class="">
            </div>
            <input class="button_ajouter" type="submit" value="Ajouter" onclick="return confirm('Bien ajouté !')"></input>
          </form>
        </div>
    </div>
{% endblock %}