{% extends 'layouts/userLayout.html.twig' %}

{% block body %}
    <div class="clock">
            <span id="hr">00</span>
            <span> : </span>
            <span id="min">00</span>
            <span> : </span>
            <span id="sec">00</span>
    </div>
{% endblock %}
