{% extends 'layouts/userLayout.html.twig' %}

{% block body %}
    <div>
        <h2 class="titre">Thematiques et Matières</h2>
        
        <a href="{{ path('user_ajouter_questions') }}" id="ajouter_question">+ Nouvelle question</a>
      
        <a href="{{ path('user_ajouter_categorie') }}" id="ajouter_categorie">+ Nouvelle thématique/matière</a>
        <br><br>

        <table class="tableau_de_resultats tableau_utilisateurs">
             
                <tr>
                    <th>Thematiques</th>
                    <th>Matières</th>
                </tr>
            
            
                          
                <th>
                    {% for Thematique in thematiques %} 
                        <div id="proposition"><i id="propo_icon" class="fas fa-chevron-circle-right"></i>{{ Thematique.libelleThematique }}</div>  
                    {% endfor %}  
                </th>
                <th>
                    {% for Matiere in matieres %} 
                        <div id="proposition"><i id="propo_icon" class="fas fa-chevron-circle-right"></i>{{ Matiere.libelleMatiere }}</div>
                    {% endfor %}  
                </th> 
  
        </table>


{% endblock %}
